@(user: User, history: List[UserHistoryHeader])

<p>
    name: @user.name
</p>

<div>
@for((historyHeader: UserHistoryHeader, i) <- history.zipWithIndex) {
    <div>
        @for(historyEntry: UserHistory <- historyHeader.historyEntries) {
            <p>@historyEntry.field, @historyEntry.oldvalue, @historyEntry.newvalue</p>
        }
    </div>
}
</div>